header{
    margin: auto;
    max-width: 1440px;
}

.banner{
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    width: 87%;
    margin: 40px 100px 0 100px;
}


.banner--logo{
    width: 210px;
    height: 68px;
}
nav {
    ul{
        display: flex;
        list-style: none;
        color: #FF6060;
        font-weight: 500;
        font-size: 24px;
        li{
            margin-left: 60px;
            :hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
