.card{
    width: 340px;
    height: 340px;
    margin: 25px 30px;    
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    text-decoration: none;
    &--title{
        margin: 20px;
        font-size: 18px;
        font-weight: 500;
        color: white;
    }
}
