.carousel {
  display: flex;
  height: 415px;
  width: 87%;
  margin: 10px auto 20px auto;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
  &--pic {
    object-fit: cover;
    width: 100%;
  }
  &--pos {
    position: absolute;
    left: 50%;
    bottom: 25px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }
  &--chevron {
    cursor: pointer;
    position: absolute;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0 20px;
    &__prev {
      transform: rotate(180deg);
    }
    &__next {
      right: 0;
    }
  }
}

@media (max-width: 992px) {
  .carousel {
    width: 89%;
    height: 255px;
    border-radius: 10px;
    margin: 25px auto 0 auto;
    &--pos {
      bottom: 0;
      font-size: 12px;
    }
    &--chevron {
      cursor: pointer;
      position: absolute;
      height: 100%;
      padding: 0 6px;
      img {
        height: 20px;
      }
    }
  }
}
