.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF6060;
    &--type{
        font-weight: 700;
        font-size: 288px;
        margin: 100px 0 50px 0;
    }
    &--message{
        margin: 0;
        font-weight: 500;
        font-size: 36px;
    }
    &--go-home{
        margin: 180px 0 50px 0;
        font-weight: 500;
        font-size: 18px;
        text-decoration: underline;
    }
}

@media (max-width: 992px) {
    .error{
        &--type{
            font-size: 96px;
            margin: 195px 0 10px 0;
        }
        &--message{
            font-size: 18px;
            margin: 0 50px;
            text-align: center;
        }
        &--go-home{
            margin: 130px 0 20px 0;
            font-size: 14px;
        }
    }
}