.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 83.33%;
    padding: 30px 20px;
    background: #F7F7F7;
    border-radius: 25px;
    margin: 43px auto;
}

@media (max-width: 992px) {
    .gallery{        
    width: 89%;
    padding: 0;
    background: white;
    margin: 0 auto 10px auto;
    }
}