.header{
    margin: auto;
    max-width: 1440px;
    &--content{
        display: flex;
        justify-content: space-between;
        max-width: 1240px;
        width: 87%;
        margin: 40px auto 0 auto;
    }
    &--logo{
        width: 210px;
        height: 68px;
    }
    nav {
        display: flex;
        align-items: center;
        ul{
            display: flex;
            list-style: none;
            color: #FF6060;
            font-weight: 500;
            font-size: 24px;
            padding: 0;
            li{
                margin-left: 60px;
                :hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .header{
        &--content{
            width: 89%;
        }
        &--logo{
            width: 145px;
            height: 47px;
        }
        nav {
            ul{
                font-size: 12px;
                li{
                    margin-left: 10px;
                    text-transform: uppercase;
                }
            }
        }
    }
 }
