.slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 223px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/slogan-bg.png');
    max-width: 1240px;
    width: 87%;
    margin: 63px 100px 0 100px;
    h1{
        color: white;
        font-weight: 500;
        font-size: 48px;
    }
}